<div class="row">
    <div class="col-6 container w-50">
      <h1 class="text-dark">{{data}}</h1>
      <div class="container w-100">
        
        <form class="p-5 border bg-dark text-white" style="margin-top: 150px;margin-bottom: 150px; border-radius: 20px;box-shadow: 10px 5px 5px grey;">
          
          <h3 class="text-center mb-5 text-primary">Sign In</h3>
          <!-- <div class="mb-3">
            <input (change)="acnoChange($event)" type="text" class="form-control" id="acno" aria-describedby="accountnumber" [placeholder]="data1">
          </div> -->
          <div class="mb-3">
            <input [(ngModel)]="acno" id="u1" name="uname" type="text" class="form-control" id="acno" aria-describedby="accountnumber" [placeholder]="data1">
          </div>


          
          <!-- <div class="mb-3">
          <input (change)="pswdChange($event)" type="password" class="form-control" id="password" placeholder="Enter password">
          </div> -->

          <div class="mb-3">
            <input [(ngModel)]="pwd" id="p1" name="password" type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
          
          <div class="text-center"><button (click)="login()" id="b1" name="button" type="submit" class="btn btn-primary w-25">Login</button></div>
          <div><label class="fs-6">Dont have account? <span class="text-info"><a routerLink="signup" style="text-decoration: none;"> Create Accout</a></span></label></div>
        </form>
      </div>
  
    </div>
    <div class="col-6 container w-50">
      <div class="container w-100" style="margin-top: 150px; height: 300px; background-size: contain;">
      <!-- <img src="../assets/bank.jpeg" alt=""> -->
      <img src="https://i.postimg.cc/0jvSGPYq/bank.jpg" alt="">
      </div>
  </div>
