<div class="row">
    <div class="col-6 container w-50">
      <div class="container w-100">
        <form class="p-5 border bg-white" style="margin-top: 150px;margin-bottom: 150px; border-radius: 20px;box-shadow: 10px 5px 5px grey;">
          <h3 class="text-center mb-5 text-primary">Sign In</h3>
          <div class="mb-3">
            <input type="text" class="form-control" id="acno" aria-describedby="accountnumber" placeholder="Enter account number">
          </div>
          
          <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="User name">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Confirm password">
                </div>
          
          <div class="text-center"><button type="submit" class="btn btn-primary w-25">Signup</button></div>
        </form>
      </div>
  
    </div>
    <div class="col-6 container w-50">
      <div class="container w-100" style="margin-top: 150px; height: 300px; background-size: contain;">
      <!-- <img src="../assets/bank.jpeg" alt=""> -->
      <img src="https://i.postimg.cc/0jvSGPYq/bank.jpg" alt="">
      </div>
  </div>
